@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('../img/bg.png');
}

center {
    margin-top: 20%;
}

.container {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(32, 30, 131);
    padding:25px;
    max-width: 60%;
}

h1,
h2,
h3,
h4,
p,
a {
    color: white;
}

.c
{
    color: rgb(255, 255, 255);
}